@using eShop.Areas.Admin.ViewModels.Category
@model IEnumerable<ListItemCategoryVM>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div id="tblCate">
	<p class="my-3">
		<button class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#modalCreate">Thêm danh mục</button>
		<button class="btn btn-info" v-on:click="refreshData()">Làm mới dữ liệu</button>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Tên danh mục</th>
				<th>Tạo lúc</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="cate in categories">
				<td>{{cate.id}}</td>
				<td>{{cate.name}}</td>
				<td>{{new Date(cate.createdAt).toLocaleString()}}</td>
				<td>
					<a :href="'/Admin/Category/Update/' + cate.id">Sửa</a>
					<button class="btn btn-danger" v-on:click="deleteCategory(cate.id)">Xóa</button>
				</td>
			</tr>
		</tbody>
	</table>

	<partial name="_Create" />

</div>


@section Scripts{

	<script>
		let noti = new AWN();

		Vue.createApp({
			data() {
				return {
					categories: [],
					cateData: {
						id: null,
						name: null
					}
				}
			},
			methods: {
				showCreateModal() {
					
				},

				deleteCategory(id) {
					noti.confirm(
						"Xác nhận xóa dữ liệu này?",
						() => {
							noti.async(
								axios.get("/Admin/Category/Delete/" + id),
								(response) => {
									var data = response.data;
									if (data.success) {
										noti.success("Xóa danh mục thành công");
										// Load lại dữ liệu trang index
										this.refreshData();
									} else {
										noti.warning(data.mesg);
									}
								}
							);
						}
					);
				},

				refreshData() {
					noti.asyncBlock(
						// lệnh gọi ajax
						axios.get("/Admin/Category/GetAll"),
						// xử lý khi thành công,
						(response) => {
							this.categories = response.data;
						},
						// xử lý khi thất bại
						(err) => {
							console.log(err);
						},
						"Chờ tí"
					);
				}
			},
			mounted() {
				this.refreshData();
			}
		}).mount("#tblCate");
	</script>
}